.srt__visual__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.bar__container {
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: end;
  position: relative;
}

.array-bar {
  display: inline-block;
  width: 100%;
  margin-right: 2px;
  background: var(--blue);
  border-radius: 100rem;
}
