.container {
  display: grid;
  height: 100vh;
  grid-template-rows: max-content 1fr;
  grid-row-gap: 1rem;
}

.bar__container {
  height: 95%;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: end;
  position: relative;
}

.array-bar {
  display: inline-block;
  width: 100%;
  margin-right: 2px;
  background: pink;
}
