.bar__container {
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.array-bar {
  display: block;
  margin-bottom: 2rem;
  width: 100%;
  margin-right: 2px;
  background: pink;
}
