.bar__container {
  height: 80vh;
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: end;
  position: relative;
}

.array-bar {
  display: inline-block;
  width: 100%;
  margin-right: 2px;
  background: pink;
}
